header{
    text-align:center; 
    margin-top:15px;
}
.card{
    text-align:center; 
    margin-top:20px;
    height:90%;
}
.para{
    font-size:13px; 
}
h3{
    font-size:10px;
}
.button{
    margin-left:40%;
    margin-top:5%;
    margin-bottom:10%;
}