header{
    text-align:center; 
    margin-top:15px;
}
.card{
    text-align:center; 
    /*margin-top:20px;*/
    height:100%;
}
/*.para{*/
/*    font-size:13px; */
/*}*/
h3{
    font-size:20px;
}
.btn{
    margin:auto; 
}