.heading{
    text-align:center; 
}
@media (min-width:768px){
    .boxone{
        width:45%;
        display:inline-block;
        padding-top:30px; 
        box-sizing:border-box;
        /*border:2px solid blue;*/
    }
    .box{
        vertical-align:top;
        width:45%;
        display:inline-block;
        box-sizing:border-box;
    }
}