.greenbox6{
    height:100px;
    background-color:#09885a; 
}
.bluebox6{
    height:100px;
    background-color:#5a57bb; 
}
.orangebox12{
    height:100px;
    background-color:#ff9900; 
}
.greenbox4{
    height:100px;
    background-color:#09885a; 
}
.bluebox4{
    height:100px;
    background-color:#5a57bb; 
}
.skyblue12{
    height:150px;
    background-color:#4a86e8;
}
.blue12{
    height:150px;
    background-color:#5a57bb;
}