/* Write your CSS here */
.sds{
    height:50px;
    width:100%;
    background-color:purple;
    margin-bottom:15px; 
}
.xzc{
    height:50px;
    width:49%;
    background-color:blue;
    display:inline-block;
    margin-bottom:15px; 

}
/*.dev{
    height:50px;
    width:49%;
    background-color:blue;
    display:inline-block;
    margin-bottom:15px;
}*/
.dec{
    height:50px;
    width:32%;
    background-color:purple;
    display:inline-block;
    margin-bottom: 15px;
}
.dcx{
    height:50px;
    width:23.5%;
    background-color:blue;
    display:inline-block;
    margin-bottom: 15px;
}
.dcc{
    height:50px;
    width:6.5%;
    background-color:purple;
    display:inline-block;
    margin-bottom:15px;
}
.m{
    margin-right:2%;
}
body{
    padding:15px; 
}
